Source: etherwaver
Section: utils
Priority: optional
Standards-Version: 3.9.7
Homepage: https://github.com/debauchee/etherwaver/
Maintainer: Debauchee Open Source Group <todo@mail.com>

Package: etherwaver
Architecture: amd64
Section: utils
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Keyboard and mouse sharing solution
 EtherWaver allows you to share one mouse and keyboard between multiple computers.
 Work seamlessly across Windows, macOS and Linux.
Homepage: https://github.com/debauchee/etherwaver/
